
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1592528583041/work
bcrypt==3.2.0
certifi==2020.11.8
cffi==1.14.3
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1604315001636/work
django-bootstrap3==14.2.0
django-braces==1.14.0
Faker==4.15.0
gunicorn==20.0.4
misaka==2.1.1
Pillow==8.0.1
pycparser==2.20
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
six==1.15.0
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
text-unidecode==1.3
whitenoise==5.2.0
