{% extends "galaxies/galaxy_base.html" %}


{% block pregalaxy %}
<div class="col-md-4">
  <div class="content">
    {% if user.is_authenticated  %}
      <h2>Welcome Back!<a href="{% url 'posts:for_user' username=user.username %}">@{{user.username}}</a></h2>
    {% endif %}
    <h2>Galaxies</h2>
    <p>Welcome to the Galaxies page!</p>
  </div>
  {% if user.is_authenticated %}
    <a href="{% url 'galaxies:create' %}" class="btn btn-default" role="button"><span class="fa fa-plus"></span>Create New Galaxy!</a>
  {% endif %}
</div>

{% endblock %}



{% block galaxy_content %}

<div class="col-md-8">
  <div class="list-galaxy">
    {% for galaxy in object_list %}
      <a href="{% url 'galaxies:single' slug=galaxy.slug %}" class="list-galaxy-item list-galaxy-item-action flex-column align-items-start">
        <h3 class="mb-1">{{galaxy.name}}</h3>
        <p class="mb-1">{{galaxy.description_html|safe}}</p>
        <div class="d-flex w-40 justify-content-between">
          <small class="text-muted"><span class="badge badge-secondary">
  					{{galaxy.members.count}}</span> member{{galaxy.members.count|pluralize}}</small>
  				<small class="text-muted"><span class="badge badge-secondary">
  					{{galaxy.posts.count}}</span> post{{galaxy.posts.count|pluralize}}</small>
  			<span></span><span></span>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
